$back-end: rgba(240,30,30,1);
$back-end-shadow: rgba(240,30,30,0.4);
$front-end: rgba(0,0,255,1);
$front-end-shadow: rgba(0,0,255,0.4);
$design: rgba(0,160,100,1);
$design-shadow: rgba(0,160,100,0.4);
$vagas: rgba(0,0,0,1);
$vagas-shadow: rgba(0,0,0,0.4);
$devops: rgba(120,180,240,1);
$devops-shadow: rgba(120,180,240,0.4);