$colors-text: (
	gray: #888,
	link: #359C9C,
);

$colors-border: (
	light-gray: #E2E2E2,
);

$colors-categories: (
	back-end: #DB4F4F,
	front-end: #3498DB,
	design: #00A064,
	vagas: black,
	devops: #78B4F0,
);

$yellow-default: #FDB930;
