$colors-text: (
	gray: #888,
	link: #359C9C,
);

$colors-border: (
	light-gray: #E2E2E2,
);

$colors-categories: (
	back-end: #DB4F4F,
	front-end: #3498DB,
	design: #00A064,
	vagas: #000,
	mobile: #95A5A6,
	eventos: #1abc9c
);

$yellow-default: #FDB930;
