$colors-text: (
	darker: #333,
	lightgray: #dcdcdc,
	gray: #888,
	light-gray: #bcbab7,
	link: #359C9C,
	white: #FFF,
	black: #000,
	marron: #C25,
	dark-gray: #7D7873
);

$colors-border: (
	light-gray: #E2E2E2,
	dark-gray:  #7D7873,
	white: #FFF,
	lightly-dark-white: #F8F8F8,
	gray: #e1e1e8
);

$colors-background: (
	green: #73bebe,
	dark-green: #359c9c,
	light-gray: #f7f7f9,
	gray: #4a4a4a,
);

$vendor-colors: (
	facebook: #3b5998,
	twitter: #55acee,
);

$yellow-default: #FDB933;
$yellow-hover: #E76A25;
$yellow-light: #FDC24F;
$lightly-dark-white: #F8F8F8;
$white: #FFF;
