@import 'fonts';
@import 'colors';

.post-content {
    margin: 0 auto;
    padding: 0 15%;

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.2em;
    }

    h1, h2, h3, h4 {
        font-weight: map-get($font-weight, bold);
    }

    p {
        line-height: 1.8;
        text-align: justify;
        margin: 1em 0;
    }

    ul, ol {
        list-style: initial;
        margin: 1em 0 1em 1.5em;
        line-height: 1.4;
    }

    strong {
        font-weight: map-get($font-weight, bold);
    }

    em {
        font-style: italic;
    }

    code {
        margin: 1em 0;
        overflow: auto;
        line-height: 1.5;
        padding: 0.7em 1em;
        font-family: monospace;
        font-size: 1.2em;

        &::-webkit-scrollbar {
            height: 0.4em;
        }
    }

    a {
        cursor: pointer;
        color: map-get($colors-text, darker);
        font-weight: 300;
        transition: color 0.2s;

        &:hover {
            color: map-get($colors-text, link);
        }
    }

    blockquote {
        padding-left: 1em;
        margin-left: 1em;
        border-left: 1px solid #ccc;
    }

    img {
        border: 1px solid map-get($colors-border, light-gray);
        display: block;
        margin: 2em auto;
        max-width: 100%;
    }

    em {
        font-style: italic;
    }

    table td, table th{
        border: 1px solid map-get($colors-border, light-gray);
        padding: 0.5em;
    }
}
