@import 'fonts';
@import 'colors';

.post-content {
    margin: 0 auto;
    padding: 0 15%;

    * {
        font-weight: map-get($font-weight, normal);
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.2em;
    }

    h1, h2, h3, h4 {
        margin: 1em 0;
        font-weight: map-get($font-weight, bold);
    }

    p {
        line-height: 1.8;
        text-align: justify;
        margin: 1.4em 0;
    }

    ul, ol {
        list-style: initial;
        margin-left: 1.5em;
        line-height: 1.4;
    }

    strong {
        font-weight: map-get($font-weight, bold);
    }

    code {
        margin: 1em 0;
        overflow: auto;
        line-height: 1.2;

        &::-webkit-scrollbar {
            height: 0.4em;
        }
    }

    a {
        cursor: pointer;
        color: map-get($colors-text, link);
        font-weight: map-get($font-weight, bold);
    }

    blockquote {
        padding-left: 1em;
        margin-left: 1em;
        border-left: 1px solid #ccc;
    }
}
