@import 'colors';

body {
    font-family: "museo_sans", sans-serif;
}
header.left-pane {
    background-color: $yellow-default;
    padding: 2em 0;
    text-align: center;
    
    .social {
        position: absolute;
        left: 2em;
        width: 2em;
        height: 2em;
        display: block;
    }
    .github {
        background-size: 2em 2em;
        background-repeat: no-repeat;
        background-image: url('images/github_icon.svg');
    }

}

.logo {
    background: url('//images.elo7.com.br/assets/v3/desktop/svg/logo-elo7.svg') no-repeat;
    background-size: 100px 40px;
    width: 100px;
    height: 40px;
    text-indent: -9999px;
    display: inline-block;
    -webkit-filter: brightness(100); /*REMOVER*/    
}

.navigation {
    margin: 0 5em;

    .nav-title {
        color: white;
        font-size:  1.6em;
        margin-top: 1.5em;
        text-align: left;

        &:first-of-type {
            margin-top: 2.5em;
        }
    }
}

.nav-list {
    text-align: left;
    margin: 1em 0;

    li {
        transition: 100ms;

        &:hover {
            padding-left: 1em;
        }
        a {
            text-decoration: none;
            color: #fff;
            padding: 0.5em 0.2em;
            display: block;
        }
    }
}

@media (min-width: 500px) {
    header.left-pane {
        height: 100%;
        width: 25%;
        max-width: 500px;
        position: fixed;
    }

    main {
        margin-left: 25%;
        width: 75%;
    }
}

::-webkit-scrollbar {
    width: 0.5em;
}
 
::-webkit-scrollbar-track {
    background-color: white;
}
 
::-webkit-scrollbar-thumb {
    background-color: $yellow-default;
}
