---
autoprefix: true
---

@import 'colors';

$left-panel-width: 215px;

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: "museo_sans", sans-serif;
    font-weight: 300;
    min-height: 100%;
    position: relative;
    background: linear-gradient(to bottom, #{$yellow-light} 200px, #{$lightly-dark-white} 200px) no-repeat #{$lightly-dark-white};
}

main {
    padding-bottom: 81px; /*Footer Size*/
}

.left-pane {
    background-color: map-get($colors-background, gray);
    text-align: center;
    position: relative;
}

.social {
    display: none;

    a {
        background-size: 2em 2em;
        background-repeat: no-repeat;
        width: 2em;
        height: 2em;
        overflow: hidden;
        text-indent: -9999px;
        display: block;
        padding-bottom: 1em;
    }

    .github {
        background-image: url('images/github_icon.svg');
    }
    .twitter {
        background-image: url('images/ico/ic-twitter.svg');
    }
}

.hide {
    display: none !important;
}

.logo-container {
    padding-top: 1em;
    margin-bottom: 1em;

    .logo {
        background: url('//images.elo7.com.br/assets/v3/desktop/svg/logo-elo7.svg') no-repeat;
        background-size: 100px 40px;
        width: 100px;
        height: 40px;
        display: inline-block;
        overflow: hidden;
        text-indent: -300%;
    }
}

.navigation {
    flex: 1;
    padding: 1em;

    .categories-switch {
        display: none;

        &:checked {
            ~ .nav-category {
                display: initial;
            }

            + .selectable::after {
                border-bottom: .5em solid map-get($colors-border, white);
                border-top: 0;
            }
        }
    }

    .more-switch {
        display: none;

        &:checked {
            ~ .nav-more {
                display: initial;
            }

            + .selectable::after {
                border-bottom: .5em solid map-get($colors-border, white);
                border-top: 0;
            }
        }
    }

    .selectable {
        cursor: pointer;
        display: block;
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: .50em;
            right: 0;
            border-top: .50em solid map-get($colors-border, white);
            border-left: .45em solid transparent;
            border-right: .45em solid transparent;
        }
    }

    .nav-title {
        color: map-get($colors-text, white);
        font-size:  1.2em;
        font-weight: 500;
        margin-bottom: 0.5em;
        text-align: left;
    }
}

.nav-list {
    display: none;
    text-align: left;

    a {
        color: map-get($colors-text, lightgray);
        text-decoration: none;
        padding: 0.5em 0.2em;
        display: block;
        cursor: pointer;
        transition: color 0.3s;
        font-weight: 100;

        &:hover {
            color: map-get($colors-text, white);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20);
        }
    }
}

.container {
    padding: 1em 5%;
}

.pagination {
    text-align: center;
    margin-bottom: 2em;

    > * {
        display: inline-block;
        margin: 0 0.5em;
        padding: 0.5em 0.7em;
    }

    .disabled {
        color: map-get($colors-text, light-gray);
    }

    .btn {
        background-color: darken($yellow-default, 10);
        border-color: $yellow-default;
        border-radius: 3px;
        color: map-get($colors-text, white);
        text-decoration: none;

        &:hover {
            background-color: $yellow-default;
        }
    }

    .next:after {
        content: "\203A";
        margin-left: 0.5em;
    }

    .back:before {
        content: "\2039";
        margin-right: 0.5em;
    }
}

footer {
    background-color: $yellow-default;
    padding: 3em 1em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    a {
        display: block;
        text-align: center;
        color: map-get($colors-text, white);
        text-decoration: none;
        font-size: 1.2em;
    }
}

@media (min-width: 800px) {
    .left-pane {
        display: flex;
        height: 100%;
        position: fixed;
        padding: 0 2em;
        flex-direction: column;
        align-items: center;
        width: $left-panel-width;
        box-sizing: border-box;
        top: 0;

        .social {
            display: block;

            .github {
                left: 2em;
            }

            .twitter {
                left: 2em;
            }
        }

        .logo-container {
            padding-top: 2em;
        }
    }

    .container {
        padding: 1em 15%;
    }

    .navigation {
        padding: 1em 0;

        .selectable {
            cursor: inherit;

            &:after {
                content: none;
            }
        }

        .nav-list {
            display: initial;
        }

        .nav-title {
            font-size:  1.5em;
        }
    }

    footer {
        background-color: $lightly-dark-white;
        border-top: 1px solid map-get($colors-border, light-gray);
        margin-left: $left-panel-width;
        background-color: map-get($colors-text, white);
        padding: 2em 1em;

        a {
            text-align: center;
            color: map-get($colors-text, link);
            font-size: 1em;
        }
    }

    main {
        margin-left: $left-panel-width;
    }
}

@media(max-width: 500px) {
    .pagination {
        padding: 0;
        margin-bottom: 3em;

        .back {
            padding-right: 0.5em;
            margin: 0;

            &:before {
                content: "\2039\2039";
                text-indent: 0;
                float: left;
            }
        }

        .next {
            padding-left: 0.5em;
            margin: 0;

            &:after {
                content: "\203A\203A";
                float: left;
                text-indent: 0;
            }
        }

        .btn, .disabled {
            text-indent: -9999px;
        }
    }
}
