body {
    font-family: "museo_sans", sans-serif;
}
header.left-pane {
    width: 25%;
    max-width: 500px;
    position: fixed;
    background-color: #FDB930;
    height: 100%;

    .social {
        position: absolute;
        bottom: 2em;
        left: 2em;
        width: 2em;
        height: 2em;
        display: block;
    }
    .github {
        background-image: url('https://getmdl.io/assets/github_white_24.svg');
        background-size: 2em 2em;
        background-repeat: no-repeat;
    }

}

main {
    width: 75%;
    margin-left: 25%;
}

.logo {
    background: url('//images.elo7.com.br/assets/v3/desktop/svg/logo-elo7.svg') no-repeat;
    background-size: 90px 35px;
    width: 90px;
    height: 35px;
    text-indent: -9999px;
    display: block;
    -webkit-filter: brightness(100); /*REMOVER*/
    margin: 2em auto;
}

.navigation {
    margin: 0 5em;

    .nav-title {
        color: white;
        font-size:  1.6em;
        margin-top: 1.5em;
    }
}

.nav-list {
    margin: 1em 0;

    li{
        transition: 100ms;

        &:hover {
            padding-left: 1em;
        }
        a {
            text-decoration: none;
            color: #fff;
            padding: 0.5em 0.2em;
            display: block;
        }
    }
}
