---
autoprefix: true
---

@import 'colors';
@import 'markdown';
@import 'code';

.post-content {
	padding: 1em 5%;
	background-color: $white;

	table {
		max-width: 100%;
		width: 100%;
	}

	thead th,
	tbody td {
		padding: 0.7em;
		text-align: left;
	}

	thead th {
		font-weight: bold;
		vertical-align: bottom;
	}

	tbody {
		> tr:nth-child(odd) {
			background-color: $lightly-dark-white;
		}

		td {
			border-top: 1px solid map-get($colors-border, gray);
		}
	}

	.title {
		font-size: 2.1em;
		margin-bottom: 0;
		line-height: 1.2;
		color: map-get($colors-text, darker);
	}

	.author {
		display: inline-block;
		text-decoration: none;
		color: map-get($colors-text, gray);
		margin-right: 1em;
		transition: color 0.3s;

		.publisher {
			display: inline-block;
			vertical-align: bottom;
		}

		.avatar {
			border-radius: 50%;
			margin: 0 0.3em 0 0;
			display: inline-block;
		}

		&:hover {
			color: $yellow-default;
		}
	}

	.date {
		color: map-get($colors-text, gray);
		font-size: 0.8em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		display: inline-block;
	}

	.post-meta {
		color: map-get($colors-text, gray);
		font-weight: 300;
		font-size: 0.9em;
	}

	p code {
		padding: 0.2em;
		color: map-get($colors-text, marron);
		background-color: map-get($colors-background, light-gray);
		border: 1px solid map-get($colors-border, gray);
	}

	.tag-list {
		list-style-type: none;
		margin-left: 0;
		margin-top: 1em;
		margin-bottom: 1em;

		li {
			display: inline-block;
		}

		a {
			background-color: map-get($colors-background, green);
			border-radius: 5px;
			color: white;
			display: inline-block;
			padding: 0.2em 0.5em;
			margin-bottom: 0.5em;
			margin-right: 0.5em;
			text-decoration: none;
			transition: background-color ease-in 200ms;

			&:hover {
				background-color: darken(map-get($colors-background, green), 20);
			}
		}
	}
}

.share {
	margin-bottom: 2em;
	position: relative;
	text-align: right;

	.link-share {
		display: inline-block;
		width: 30px;
		height: 30px;
		text-indent: -9999px;
		text-align: left;
		padding: 0.2em;
		background-position: center center;
		background-repeat: no-repeat;

		&.facebook {
			background-image: url('/images/ico/ic-facebook.svg');
			background-color: map-get($vendor-colors, facebook);
		}

		&.twitter {
			background-image: url('/images/ico/ic-twitter.svg');
			background-color: map-get($vendor-colors, twitter);
		}

		&.copy {
			background-image: url('/images/ico/ic-link.svg');
			background-color: map-get($colors-background, dark-green);
		}
	}

	.link-input {
		opacity: 0;
		position: absolute;
		left: -9999px;
	}

	.copy-success {
		font-size: 0.75em;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 125%;
		transition: opacity ease-in-out 250ms;
		text-align: center;

		&.active {
			opacity: 1;
		}
	}
}

@media (min-width: 800px) {
	.post-content {
		padding: 2em;
		margin: 2em 15%;

		> .title {
			margin-top: 0;
		}

		.post-meta {
			margin-bottom: 3em;
		}
	}

	.share {
		position: fixed;
		top: 2em;
		left: calc(215px + (100% - 215px) * 0.85);

		.link-share {
			display: block;

			&:hover {
				opacity: 1;
			}
		}

		.copy-success {
			left: 0;
			right: auto;
			top: auto;
			padding: 0.5em;
			background-color: rgba(0,0,0,0.5);
			white-space: nowrap;
			color: white;
			margin-top: 0.5em;
			border-radius: 0.3em;

			&:before {
				content: '';
				border: 5px solid transparent;
				border-bottom: 5px solid rgba(0,0,0,0.5);
				width: 0;
				height: 0;
				display: block;
				position: absolute;
				bottom: 100%;
			}
		}
	}
}
