---
autoprefix: true
---

@import 'colors';
@import 'markdown';
@import 'code';

.post-content {
    padding: 1em 5%;

    .title {
        font-size: 2.1em;
        margin-bottom: 0;
        line-height: 1.2;
        color: map-get($colors-text, darker);
    }

    .author {
        display: block;
        text-decoration: none;
        color: map-get($colors-text, gray);
        transition: color 0.3s;

        .publisher {
          display: inline-block;
          vertical-align: bottom;
        }

        .avatar {
          border-radius: 50%;
          margin: 0 1em 0 0;
          display: inline-block;
        }

        &:hover {
            color: $yellow-default;
        }
    }
    .date {
        color: map-get($colors-text, gray);
        font-size: 0.8em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        display: inline-block;
    }

    .post-meta {
        color: map-get($colors-text, gray);
        font-weight: 300;
        font-size: 0.9em;
    }
}

.share {
  margin-bottom: 2em;
  text-align: right;

  .link-share {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    margin-left: 0.5em;
    text-align: left;

    &.facebook {
      background-image: url('/images/ico/ic-facebook.svg');
    }

    &.twitter {
      background-image: url('/images/ico/ic-twitter.svg');
    }

    &.copy {
      background-image: url('/images/ico/ic-link.svg');
    }
  }

  .link-input {
    opacity: 0;
    position: absolute;
    left: -9999px;
  }
}

@media (min-width: 800px) {
    .post-content {
        padding: 1em 23%;
    }

    .share {
      position: fixed;
      top: 21%;
      right: 10%;

      .link-share {
        display: block;
        margin-bottom: 0.5em;
      }
    }
}
