---
autoprefix: true
---

@import 'colors';
@import 'markdown';
@import 'code';

.post-content {
    padding: 1em 5%;

    .title {
        font-size: 2.1em;
        margin-bottom: 0;
        line-height: 1.2;
        color: map-get($colors-text, darker);
    }

    .author{
        text-decoration: none;
        color: map-get($colors-text, gray);
        transition: color 0.3s;

        p {
            margin-top: 0.5em;
            display: inline-block;
        }

        &:hover {
            color: $yellow-default;
        }
    }
    .date {
        color: map-get($colors-text, gray);
        font-size: 0.8em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        display: inline-block;
    }

    .post-meta {
        color: map-get($colors-text, gray);
        font-weight: 300;
        font-size: 0.9em;
    }
}
@media (min-width: 800px) {
    .post-content {
        padding: 1em 23%;
    }
}
