@import 'colors';

.publisher-info {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-top: 1em;
	padding-bottom: 1em;
}

.avatar {
	padding-right: 1em;
	box-sizing: border-box;
	min-width: 100px;

	img {
		border-radius: 50%;
		height: auto;
		max-width: 100%;
	}
}

.info {
	padding-left: 1em;
	padding-right: 1em;
	box-sizing: border-box;
	flex: 1 0 50%;

	.name {
		display: block;
		color: #333;
		font-size: 1.8em;
		font-weight: 500;
		margin-bottom: 0.5em;
	}

	.social {
		content: '';
		width: 25px;
		height: 25px;
		display: inline-block;
		background-position: center;
		text-indent: -9999px;
		margin-right: 0.5em;
		background-size: contain;
		vertical-align: top;

		&.twitter {
			background-image: url('/images/ico/ic-twitter.svg');
		}

		&.github {
			background-image: url('/images/github_icon.svg');
			background-color: black;
			border-radius: 50%;
		}
	}
}

.publisher-description {
	margin-top: 1em;
	color: map-get($colors-text, gray);
	padding-left: 1em;
	padding-right: 1em;
	text-align: justify;
	line-height: 1.2em;
	width: 100%;
}

@media (min-width: 800px) {
	.publisher-info {
		padding-left: 15%;
		padding-right: 15%;
		margin-left: 210px; /* Navigation pane size */
		background-color: white;
		flex-direction: row-reverse;
	}

	.info {
		display: inline-block;
		padding-right: 0;
	}

	.publisher-description {
		padding-left: 0;
		padding-right: 0;
	}

	.avatar {
		width: 15%;
		padding-right: 0;
	}
}
