@import 'colors';

.publisher-info {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: solid 1em map-get($colors-border, lightly-dark-white);
}

.avatar {
	padding-right: 1em;
	box-sizing: border-box;

	img {
		border-radius: 50%;
		height: auto;
		max-width: 100%;
	}
}

.info {
	padding-left: 5%;
	box-sizing: border-box;
	flex: 1 0 50%;

	.name {
		display: block;
		color: map-get($colors-text, darker);
		font-size: 1.8em;
		font-weight: 500;
		margin-bottom: 0.5em;
	}

	.social {
		content: '';
		width: 25px;
		height: 25px;
		display: inline-block;
		background-position: center;
		text-indent: -9999px;
		margin-right: 0.5em;
		background-size: contain;
		vertical-align: top;

		&.twitter {
			background-image: url('/images/ico/ic-twitter.svg');
		}

		&.linkedin {
			background-image: url('/images/ico/ic-linkedin.svg');
		}

		&.github {
			background-image: url('/images/ico/ic-github.svg');
		}
	}
}

.publisher-description {
	color: map-get($colors-text, gray);
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 1.2em;
	width: 100%;
	margin-top: 1em;
}

@media (min-width: 800px) {
	.publisher-info {
		padding-left: 15%;
		padding-right: 15%;
		margin-left: 210px; /* Navigation pane size */
		background-color: $white;
		flex-direction: row-reverse;
		border-bottom: none;
	}

	.info {
		display: inline-block;
		padding-right: 0;
		padding-left: 0;
	}

	.hide.avatar ~ .publisher-description {
		padding-left: 0;
		margin-top: 1em;
	}

	.publisher-description {
		padding-left: calc(100px + 2em);
		padding-right: 0;
		margin-top: 0;
	}

	.avatar {
		padding-right: 2em;
	}
}
