---
autoprefix: true
---

@import 'colors';

body {
    background: linear-gradient(to bottom, map-get($colors-background, green) 200px, #{$lightly-dark-white} 200px) no-repeat #{$lightly-dark-white};
}

.talks-container {
	padding: 1em 5%;
	background-color: $white;

	> a {
		text-decoration: none;
		color: map-get($colors-text, black);
	}

	> .title {
		font-size: 2.5em;
		color: map-get($colors-text, darker);
		margin-top: 0.5em;
		margin-bottom: 1rem;
	}

	.author {
		display: inline-block;
		text-decoration: none;
		color: map-get($colors-text, gray);
		transition: color 0.3s;
		margin-bottom: 1rem;

		.publisher {
			display: inline-block;
			vertical-align: bottom;
		}

		.avatar {
			border-radius: 50%;
			margin: 0 0.3em 0 0;
			display: inline-block;
		}

		&:hover {
			color: $yellow-default;
		}

		+ time:before {
			content: '·';
		}
	}

	.date {
		color: map-get($colors-text, gray);
		font-size: 0.8em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		display: inline-block;
	}

	.slides {
		margin-top: 2rem;

		iframe {
			max-width: 100%;
			margin: auto;
    		display: block;
		}
	}

	.description {
		margin-top: 1.5em;
		font-weight: lighter;
		line-height: 1.8;
	}
}

@media (min-width: 800px) {
	.talks-container {
		padding: 2em;
		margin: 2em 15%;
	}
}